html, body {
	background-color: #000;
	color: #EEE;
	font-family: "MS Trebuchet", "Trebuchet MS", Arial, Tahoma, Helvetica, Verdana, sans-serif;
	font-size: 100%;
	margin: 0;
	overflow: auto;
	padding: 0;
}
a, a:link, a:visited {
	color: #C93633;
	-webkit-transition: color .25s linear;
	-moz-transition: color .25s linear;
	-o-transition: color .25s linear;
}
a:hover, a:active {
	color: #F08124;
}
a:active {
  position: relative;
  top: 1px;
}
img {
	border: 0;
}
#content {
	padding: 10px;
	text-align: center;
}
#fancy-bg {
	position: absolute;
	left: 0px;
	top: 0px;
	z-index: 0;
}
#fancy-el {
	left: -200px;
	position: absolute;
	top: -200px;
}